.header-search__input.showInput {
  right: 10px;
  opacity: 1;
}

.header-nav.active {
  top: 60px;
}

@media (max-width: 767px) {

  .header-nav__list {
    width: 100%;
    background-color: lightslategrey;

    padding: 20px 0;
    margin: 0 auto;
    text-align: center;

  }

  .header-nav__link {
    display: block;
    color: $textcolorlight;

    padding: 10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;

}

.footer {
  flex: 0 0 auto;
}





