.header {
}
.header-content {

}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bcg-color;

  padding: 10px 15px;
}
.header-lang {

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 5px;
  }
  &__link {
    color: $textcolorlight;
    font-size: 14px;
    font-weight: normal;

    padding: 5px;
  }
}
.header-search {
  &__form {
  }
  &__input {
    display: none;
  }
  &__btn {
    width: 20px;
    height: 40px;

    background-color: transparent;
    border: none;
  }
  &__icon {
    width: 100%;
  }
}
.header-centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 15px;
  margin-bottom: 20px;
}
.header-logo {
  flex: 0 0 100px;

  &__img {
    width: 100%;
  }
}

.burger-menu {
  flex: 0 0 30px;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 20px;

  cursor: pointer;

  &__line {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #000;
  }
}

.header-nav {
  display: none;
  width: 100%;

  &__list {

  }
  &__item {
  }
  &__link {
  }
}
.header-social {
  flex: 0 0 220px;

  padding: 20px 15px;
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {

  }
  &__link {
    display: block;
    width: 35px;
  }

}
.header-subscribe-btn {
  flex: 0 0 200px;

  color: firebrick;
  background-color: transparent;

  padding: 15px;
  margin: 0 auto;
  border: 1px solid firebrick;

  cursor: pointer;
}

.header-subscribe-btn:hover {
  color: #fff;
  background-color: firebrick;
}