.header {
}
.header-content {

}

.header-background {
  position: relative;
  top: 0;
  left: 0;
  z-index: 60;

  background-color: $bcg-color;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px;
}
.header-lang {

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 5px;
  }
  &__link {
    color: $textcolorlight;
    font-size: 14px;
    font-weight: normal;

    padding: 5px;
  }
}
.header-search {
  &__form {
  }
  &__input {
    padding: 6px;
    position: relative;
    top: -4px;
    right: -500px;
    transition: right 0.3s ease-in;
  }
  &__btn {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;

    width: 20px;
    height: 40px;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }
  &__icon {
    width: 100%;
  }
}
.header-centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 15px;
  margin-bottom: 20px;
}

.header-logo-col {
  flex: 0 0 50%;
}

.header-nav-col {
  flex: 0 0 30px;
  align-self: flex-start;
}

.header-social-col {
  flex: 0 0 100%;
}

.header-subscribe-btn-col {
  flex: 0 0 100%;
}

.header-logo {
  max-width: 100px;

  &__img {
    width: 100%;
  }
}

.burger-menu {
  position: relative;
  z-index: 50;
  top: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 30px;
  height: 20px;

  cursor: pointer;

  &__line {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #000;
  }
}

.header-nav {
  position: absolute;
  top: -500px;
  left: 0;
  width: 100%;

  transition: top 0.3s ease-in;

  &__list {

  }
  &__item {
  }
  &__link {
  }
}

.header-social {
  max-width: 200px;
  padding: 20px 15px;
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {

  }
  &__link {
    display: block;
    width: 35px;
  }

}

.header-subscribe-btn {
  display: block;
  max-width: 200px;

  color: firebrick;
  background-color: transparent;

  padding: 15px;
  margin: 0 auto;
  border: 1px solid firebrick;

  cursor: pointer;
}

.header-subscribe-btn:hover {
  color: #fff;
  background-color: firebrick;
}